<div class="container mt-4">
  <h1><%= @category_name %></h1>
  
  <div class="mb-3">
    <%= link_to "Create New Post", new_forum_post_path(category: @category), class: "btn btn-primary" %>
  </div>
  
  <% if @posts.any? %>
    <div class="list-group">
      <% @posts.each do |post| %>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= link_to post.title, forum_post_path(post) %></h5>
            <small><%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></small>
          </div>
          <p class="mb-1"><%= truncate(post.content, length: 150) %></p>
          <small>Posted by: <%= post.user.email %></small>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      No posts in this category yet. Be the first to start a discussion!
    </div>
  <% end %>
</div>